
<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Word so far: <%= make_word(@tally.letters) %>
</p>

<p>
  Guessed letters: <%= make_word(@tally.used) %>
</p>

<%= if game_over?(@tally.game_state) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [ as: :make_move, method: :put, name: "make_move" ], fn f -> %>
    <%= text_input(f, :guess) %>
    <%= submit("Make next move") %>
  <% end) %>
  <script type="text/javascript" language="JavaScript">
    document.forms['make_move'].elements['make_move[guess]'].focus();
  </script>
<% end %>
